DB_ROOT_PASSWORD=changez_moi_root
DB_PASSWORD=changez_moi
DB_NAME=gaia_life
APP_IMAGE_TAG=latest
BACKUP_CRON_SCHEDULE="0 3 * * *"
BACKUP_RETENTION_DAYS=14
TZ=Europe/Paris
GAIA_HOST=gaia.local
# GAIA_LAN_IP=172.16.0.10
